* { box-sizing: border-box; }

html,body
{
  weight:100%;
  height:99%
}

.top {
  border: thin solid black;
  width: 75%;
  height: 25%;
  float:right;
  font-size:50px;
  background-color:#ce1212;
  color:#1dcbe0;
}
.left {
  border: thin solid black;
  width: 25%;
  height: 100%;
  background-color:#5e69ea;
  color:#ce1212;
  font-size:40px;
  float:left;
}
.right {
  border: thin solid black;
  width: 25%;
  height: 75%;
  background-color:#0fdb2e;
  color:#d2e41e;
  font-size:40px;
  float:right;
}
.content-right {
  border: thin solid black;
  width: 25%;
  height:50%;
  float:right;
  font-size:40px;
  background-color:#7903f8;
  color:#fdfaff;
}
.content-left {
  border: thin solid black;
  width: 25%;
  height:50%;
  float:left;
  font-size:40px;
  background-color:#fdfaff;
  color:#7903f8;
}
.down {
border: thin solid black;
width: 50%;
height:25%;
float:right;
font-size:50px;
background-color:#d2e41e;
color:#0fdb2e;
}
